[Unit]
Description=Cluster Combine Videos Service
Requires=network.target
Requires=cluster-monitor-client.service
After=network.target
After=cluster-monitor-client.service

[Service]
Type=simple
ExecStart=/home/pi/cluster_cam/bin/cluster-combine-videos
Restart=always
User=pi
EnvironmentFile=/home/pi/stream_keys.env
# The above file should contain your stream keys in the below format:
# YT_KEY="youtube-key-here"
# TWITCH_KEY="live_twitch_key_here"

[Install]
WantedBy=multi-user.target

