[Unit]
Description=Cluster Monitor Client Service
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /home/pi/cluster_cam/bin/cluster-monitor-client
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

